<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" >
    <test name="Test1" parallel="classes" thread-count="2">
        <classes>
            <class name="tests.CompanyTest"/>
            <class name="tests.ContactUsTest"/>
            <class name="tests.JoinUsTest"/>
        </classes>

    </test>
</suite>